*{
    margin: 0;
    font-family: Quicksand;
}
section.genCont ul{
  margin: 0;
   
}
section.genCont ul li{
    display: inline ;
     
}
section.genCont ul li a{
    text-decoration: none ; 
    color: #404A58;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   margin-left: 65px;
   position: relative;
}
nav ul li a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 7px;
  background: #A25738;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.genCont{
    width: 100%;
    height: 100%;
}
.the-belvik{
    width: 100%;
    height: 100vh;
}
.gen-slider {
  width: 100%; 
  height: 100%; 
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.gen-slides {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  height: 100%; 
}

.gen-slide {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.gen-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gen-slide.active {
  opacity: 1;
  display: block;
}

.slide-numbers {
  position: absolute;
  top: 50vh;
  right: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.number {
  margin-bottom: 20px;
  cursor: pointer;
color:rgba(255, 255, 255, 0.4); 
font-size: 22px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
align-items: flex-end;
justify-content: center;
transition:0.3s ease-in-out;
}

.number:hover {
  color: #FFF;
  .vertical-line {
    background-color: #fff;
  }
}


.vertical-line {
  border-radius: 15%;
  width: 5px; 
  height: 34px; 
  background-color: rgba(255, 255, 255, 0.4); 
  margin-right: 25px; 
  transition:0.3s ease-in-out;
}




.active .vertical-line {
  background-color: #fff;
  height: 51px;  
}

.active.number{
  color:#FFF;
}



section.genCont nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;
    background-color: #F2EAE0E5;
}
section.genCont nav button{
    margin-left: 15px;
    width: 240px;
    height: 48px;
    background-color: #A25738;
    color: white;
    border: none;
    font-size: 18px;
    line-height: 22.5px;
    margin-left: 83px;
}
@media screen and (max-width:1172px){
  section.genCont nav button{
    margin-left: 10px;
    width: 190px;
    height: 38px;
    background-color: #A25738;
    color: white;
    border: none;
    font-size: 16px;
    line-height: 19.5px;
  }
  section.genCont nav {
    justify-content: flex-start;
  }
}
@media screen and (max-width:1055px){
  section.genCont ul li a{
    margin-left: 40px;
  }

}
.logo{
position: absolute;
margin-top: 20vh;
}
.rooms{
    width: 100%;
    display: flex;
    justify-content: center; 
    flex-direction: column;
}
.room-p{
    width: 41%;
}
.room-text{
    width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-rooms{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    
  }
  .sl-rooms-im1{
    width: 500px;
    height: 500px;
    background-size: cover;
  }
  
  .sl-rooms-im2{
    width: 400px;
    height: 400px;
    background-size: cover;
  }
  
  .sl-rooms-im3{
    width: 300px;
    height: 300px;
    background-size: cover;
  }
  
  .sl-rooms-im4{
    width: 400px;
    height: 400px;
    background-size: cover;
  }
  
  .sl-rooms-im5{
    width: 500px;
    height: 500px;
    background-size: cover;
  }
  .slider-btns {
    text-align: center;
    margin-top: 20px;
  }
  .slider-btns button {
    margin: 0 5px;
    padding: 8px 16px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
  }
  .spa-text{
    width: 28%;
    margin-left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFF;
box-shadow: -5px 12px 33px 0px rgba(0, 0, 0, 0.12);
margin-top: -80px;
padding: 30px 0;
  }
  .spa-text p{
    width: 75%;
    text-align: center;
  }
hr{
    width: 75%;
border: 1px solid rgba(12, 22, 23, 0.23);
}
.spa{
  background-image: url("bg1.png");
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.spa button{
 margin-top: 25px;
}

  
  .wrapper {
    word-wrap: break-word;
    width: 90%;
    padding: 2rem 0;
  }
  
  .wrapper,
  .container {
    margin: 0 auto;
  }
  .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100% !important;
}
  .container {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    max-width: 100%     ;
    height: 35.1875rem;
    line-height: 0;
  }
  
  .slideDiv,
  .controls {
    position: absolute;
  }
  
  .slideDiv,
  .slide {
    width: 100%;
    height: 100%;
  }
  
  .slide {
    background-size: cover;
  }
  
  .slide:first-child {
    background: url("7.png") no-repeat center;
  }
  
  .slide:nth-of-type(2) {
    background: url("8.jpg") no-repeat center;
  }
  
  .slide:nth-of-type(3) {
    background: url("9.png") no-repeat center;
  }
  
  .slide:last-child {
    background: url("6.jpg") no-repeat center;
  }
  
  .controls {
    top: 41%;
    right: 0;
    padding: 0 0.63rem;
    z-index: 5;
    text-align: center;
  }
  
  .button { 
    width: 0.9375rem;
    height: 0.9375rem;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    transition: all ease .2s;
  }
  
  .button:not(:last-child) {
    margin-bottom: 0.63rem;
  }
  
  


  
  .button {
    border: 1px solid #fff;
    opacity: .6;
    outline: none;
    background-color: #333;
  }
  
  .button:hover,
  .button:focus {
    opacity: 1;
  }
  
  .selected {
    background-color: #CB411F;
  }
  .spa-carousel{
    width: 65%;
  }
  .amenities{
    background-image: url("bg2.png");
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ammenities-title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
  }
  .aicon{
    box-shadow: 0px 10px 20px 0px rgba(107, 89, 89, 0.25);
backdrop-filter: blur(10px);
width: 254px;
height: 165px;
margin: 10px;
color: #2D2D2D;
font-family: Quicksand;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
  }
  .aicon2{
    box-shadow: 0px 10px 20px 0px rgba(107, 89, 89, 0.25);
backdrop-filter: blur(10px);
width: 341px;
height: 165px;
margin: 12px;
color: #2D2D2D;
font-family: Quicksand;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

  }
  .ammenities-icons{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    
  }
  .cigar-lounge{
    margin-top: 55px;
    width: 100%;
    height: 600px;
    display: flex;
justify-content: center;
align-items: center;
background-image: url(bg3.png);
  }
  .cigar-lounge-carousel{
    height: 450px;
    border: 1px solid black;
    width: 70%;
  }
  .slider-cigar{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    
  }
  .sl-cigar-im1{
    width: 350px;
    height: 450px;
    background-size: cover;
  }
  
  .sl-cigar-im2{
    width: 450px;
    height: 400px;
    background-size: cover;
  }
  .cigar-lounge-title{
    color: white;
    padding: 45px 40px;
    width: 30%;
    display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
text-align: center;
  }
  .rooftop{
    width: 100%;
    height: 600px;
    border: 1px solid black;
    border-right: none;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rooftop-title{
    width: 30%;
    padding-right: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 190px;
    margin-top: 110px;
  }
  .rooftop-c{
    width: 70%;
  }
   
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


input[type=radio] {
    display: none;
  }
  
  .card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }
  
  .rooftop-c.container{
    width: 100%;
    max-width: 800px;
    max-height: 600px;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
  
  .rooftop-c img {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  
 #item-1:checked ~ .cards #pic-3, #item-2:checked ~ .cards #pic-1, #item-3:checked ~ .cards #pic-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #pic-2, #item-2:checked ~ .cards #pic-3, #item-3:checked ~ .cards #pic-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #pic-1, #item-2:checked ~ .cards #pic-2, #item-3:checked ~ .cards #pic-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}
.gallery{
    width: 100%;

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
    background-color: #2D2D2D;
}
.gtext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}
.gcarousel{
    width: 100%;
    height: 600px;

}
.exploreD{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 35px;
}
.exploreDtext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.container-fluid {
    margin-top: 35px;
    max-width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}




.caption {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.caption h4 {
    font-size: 1rem;
    color: #444;
    }
    .caption p {
        font-size: 0.75rem;
        color: #999;
        }


/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
    }
    .carousel-control{
        background: #666;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }
.exploreDcarousel a {
    margin: 0;
	}
  footer{
    height: 220px;
  background-image: url("footerbg.png");
  background-size: cover;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .foot{
  width: 100%;
  height: 150px;
  
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.fmenu{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floc{
  width: 50%;

}

footer ul li a{
color: white;
text-decoration: none !important;
 }
 footer ul li a:hover{
  color:wheat;
   }

 footer ul li{
  list-style-type: none;

 }